/*for todochat.js*/
.sender-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff; /* Change this color to match your design */
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
  }