@import url('AdminLTE-master/dist/css/adminlte.min.css');


/* Custom styles */
.admin-panel {
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
  text-align: center;
}

/* Override AdminLTE styles */
/* For example, to change the sidebar background color */
.sidebar-dark-primary {
  background-color: #333 !important;
}
/* Navbar styles */
.navbar {
  background-color: #3c8dbc;
  border-color: #367fa9;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}

.navbar-toggle {
  border-color: #367fa9;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #367fa9;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse {
  border-color: #367fa9;
}

.navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #367fa9;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #367fa9;
}

.navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #367fa9;
  }
}
