<title>{{ title }}</title>
<style>
    h5 {
        color: red;
    }
</style>
<!--Displaying the messages-->
{% for message in messages %}
<h5>{{ message }}</h5>
{% endfor %}
<!--Creating a user registeration form with name email and password-->
<h1>Register</h1>
<form action="" method="POST">
    {% csrf_token %}
    <p>UserName: </p>
    <input type="text" name="name" placeholder="Name">
    <p>Email: </p>
    <input type="email" name="email" placeholder="Email">
    <p>Password: </p>
    <input type="password" name="password" placeholder="Password">
    <p>Confirm Password: </p>
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    <br>
    <input type="submit" value="Register">
</form>