<!--links to all the apis-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>APIs</h1>
            <ul>
                <li><a href="/api/todos">/api/todos</a></li>
                <li><a href="/api/todos/1">/api/todos/1</a></li>
                <li><a href="/api/todos/1/delete">/api/todos/1/delete</a></li>
                <li><a href="/api/todos/1/update">/api/todos/1/update</a></li>
                <li><a href="/api/todos/create">/api/todos/create</a></li>
            </ul>
        </div>
    </div>